django==3.1.6
djangorestframework==3.11.0
django-filter==2.3.0
markdown==3.2.2
requests==2.24.0
loguru==0.5.1
psycopg2==2.8.5
python-decouple==3.3
django-localflavor==3.0.1
djangorestframework-simplejwt==4.4.0
