[run]
omit =
    */apps.py
    */*tests*/*
    *tests.py
    *conftest.py
    */__init__.py
    *settings*
    *migrations/*
    */urls.py
    *wsgi.py
    *asgi.py
    */manage.py

[report]
exclude_lines =
    pragma: no cover
    pass
